h1 {
	background: black;
	color: white;
	font-kerning: inherit;
	font-weight: bolder;
	font-size: x-large;
	background-image: 
}

body{
	background: black;
	color: white;
}

h2{font-family: serifbody {
	;}
